<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="application provides information about list of restaurant">
    <link rel="icon" type="image/png" href="./images/icon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="./images/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/icon/apple-touch-icon-180x180.png">
    <title>Restro - Find Favourite Restaurant</title>
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"/>
    
</head>
<body>
    <a href="#content" class="skip-to-content">Skip to Content</a>
    <header>
        <nav-bar></nav-bar>
    </header>

    <main id="main-content">
    </main>
    
    <footer>
        <a href="#">copyright&copy; 2020 - Restro</a>
    </footer>
</body>
</html>
